<div class="well">
  <%= simple_form_for @referral, url: referral_batch_referrals_path(ReferralBatch.last)  do |f| %>
    <%= render 'referral_batches/invite_friends', f: f %>
    <%= f.button :submit %>
  <% end %>
</div>
