<% title "New Referral Batch" %>

<%# render 'form' %>
<div class="well">
  <%= simple_form_for :referral_batch, action: :create do |f| %>
    <%= render 'invite_friends', f: f %>
    <%= f.button :submit %>
  <% end %>
</div>

