jQuery ->
   $('body').prepend('<div id="fb-root"></div>')

   $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: 'true'

window.facebook =
  login: ->
    FB.login (response) ->
      if response.authResponse
        $.ajax
          url: '<%= Weave::Application.routes.url_helpers.user_omniauth_callback_path :facebook %>'
          success: ->
            FB.api '/me', (response) ->
              console.log 'Good to see you, ' + response.name + '.'
      else
        console.log "user didn't auth"

  logout: ->
    FB.logout()

  status: ->
    FB.getLoginStatus (response) ->
      console.log "status: ", response

  query: (query) ->
    dfd = new $.Deferred()
    FB.api query, (response) ->
      dfd.resolve(response)
    dfd.promise()

  mutualFriends: ->
    window.friendCounts = {}
    window.promiseOfFriends = fb '/me/friends'
    promiseOfFriends.then( (response)->
      friends = response.data
      muts = for friend in friends
        do (friend) ->
          expectingFriend = fb "/#{friend.id}/mutualFriends"
          expectingFriend.then (r) ->
            friendCounts[friend.id] = r.data.length
      $.when.apply($, muts)
      ).then( (args...) ->
        debugger
      )

  initBindings: ->
    $('#sign-in-facebook').click (e)->
      e.preventDefault()
      facebook.login()

    $('#sign-out').click (e)->
      facebook.logout()

window.fbAsyncInit = ->
  FB.init
    appId: '<%= ENV["FACEBOOK_APP_ID"] %>'
    status: true
    cookie: true
  facebook.initBindings()
  FB.getLoginStatus (response)-> console.log "FB login status " , response
