<div  {{action newFriendClicked view.query target="view"}}
    {{bindAttr class="view.facebook:facebook:not-facebook :friend-suggestion :friend-new"}} >
  <span class="friend-suggestion-facebook">
  Not Facebook friends?</span>
  <span class="friend-suggestion-instruction">
    Tell <strong>{{view.query}} </strong> about {{copy.tellYourFriendsAboutReferredItem}}!
  </span>
</div>
