{{#each notification in notifications}}
  <div class="alert" {{bindAttr class="notification.type"}}>
    <button type="button" class="close"  {{action destroyNotification notification}}>&times;</button>
    {{notification.message}}
  </div>
{{/each}}
{{outlet}}
