<div class="banner">
  <div class="circle-small center"></div>
  <image class="logo" src="assets_dev/weave_logo.png"></image>
</div>
<div class="notifications">
{{#each notification in notifications}}
  <div class="alert" {{bindAttr class="notification.type"}}>
    <button type="button" class="close"  {{action destroyNotification notification}}>&times;</button>
    {{notification.message}}
  </div>
{{/each}}
</div>
{{outlet}}
