<div class="banner">
  {{outlet "auth_status"}}
  <div class="circle-small center"></div>
  <image class="logo" src="<%= asset_path('weave_logo.png') %>"></image>
</div>
<div class="notifications">
{{#each notification in notifications}}
  <div class="alert" {{bindAttr class="notification.type"}}>
    <button type="button" class="close"  {{action destroyNotification notification}}>&times;</button>
    {{notification.message}}
  </div>
{{/each}}
</div>
{{outlet}}
