<div class="banner">
  {{outlet "auth_status"}}
  <div class="circle-small center"> <div class="powered-by">powered by</div> </div>
  {{#linkTo "index" class="logo"}} <image class="weave-logo" src="<%= asset_path('weave_logo.png') %>"></image> {{/linkTo}}
</div>
<image class="client-logo" {{bindAttr src=copy.logoUrl}}> </image>

<div class="notifications">
{{#each notification in notifications}}
  <div class="alert" {{bindAttr class="notification.type"}}>
    <button type="button" class="close"  {{action destroyNotification notification}}>&times;</button>
    {{notification.message}}
  </div>
{{/each}}
</div>
{{outlet}}
