<!-- binds against referralBatch -->
<p>Share your socially responsible purchase with your friends. Select your friends, write them a message highlighting why they too would appreciate it, and track your social impact. </p>
<a {{action attemptAuthAndRefer}} > Login via Facebook and start referring </a>
