<h3>Congrats!</h3>
<h5> You've sent {{view.pluralizedReferrals}}. </h5>
You can send another one, or you can call it quits.
{{view Weave.ReferralConfirmSenderView}}
<a {{action finishReferralBatch}}>{{view.logoutText}}</a>
