<div class="content">
  <h3>Thanks!</h3>
  <h4> You've sent {{view.pluralizedReferrals}}. </h4>
  You can send another one, or you can call it quits.
  <a {{action finishReferralBatch}}>{{view.logoutText}}</a>
</div>
