<div class="customizations">
{{#each customization in availableCustomizations}}
  <label class="checkbox customization">
    {{view Ember.Checkbox checkedBinding="customization.selected" class=""}}
    {{customization.description}}
  </label>
{{/each}}
</div>
