<h5> You can also tell {{recipientFirstName}} about some of these reasons to get excited about NewLiving:</h5>
<div class="customizations">
{{#each customization in availableCustomizations}}

  <label class="checkbox">
    {{view Ember.Checkbox checkedBinding="customization.selected" class=""}}
    {{customization.description}}
  </label>
{{/each}}
</div>
