<h3> Select dem customizations </h3>
availableCustomizations {{availableCustomizations}}
{{#each customization in availableCustomizations}}
  <li class="customization">
    {{view Ember.Checkbox checkedBinding="customization.selected"}}
    {{customization.description}}
  </li>
{{/each}}
