<div class='content'>
  <div class="accordion-heading" data-toggle="collapse" data-target=".select-recipient .accordion-body">
    <a {{action selectRecipient}}><h2 class="step-name"> 1. Select a friend</h2></a>
  </div>
  <div {{bindAttr class="XXselectingRecipient:XXvisible:XXinvisible :accordion-body" }} >
    <h4 class="step-subheader">Enter a friend's name or email</h4>
    {{view Ember.TextField class="recipient-name-or-email" id="name-or-email" valueBinding="view.query"}}
  </div>


  {{#if view.displayingFriends}}
  <div class="friend-suggestions">
    {{#if view.displayNewFriendSuggestion}}
    {{/if}}

    {{#each friend in view.displayedFriends}}
    <div class='friend-suggestion' {{action friendClicked friend target="view"}}>
      <img class="friend-picture" {{bindAttr src='friend.pictureUrl'}}></img>
      <div class="friend-info">
        <span class="friend-name"> {{friend.user.name}} </span> <br>
        <span class="friend-location"> {{friend.user.info.other_info.location.name}} </span>
      </div>
    </div>
    {{/each}}
    {{partial new_friend_suggestion}}

  </div>
  {{/if}}
</div>
