<div class="customizations">
{{#each customization in availableCustomizations}}
<div class="customization"{{bindAttr class="customization.selected:selected:unselected"}}>
  <span class="customization-selection-indicator" {{bindAttr class="customization.selected:selected:unselected"}}>
    <div class="customization-selection-circle-indicator"></div>
  </span>
  <label class="checkbox customization" >
      {{view Ember.Checkbox checkedBinding="customization.selected" class="hidden-checkbox"}}
      {{customization.description}}
    </label>
</div>
{{/each}}
</div>
