/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */
@import "constants";
@import "compass/css3";
@import "compass/utilities";
@import "bootstrap";
// @import "referral_select_recipient";

hr {
  background: rgba(gray, 0.5);
  height: 1px;
}
hr.style-two {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.05), rgba(0,0,0,0.55), rgba(0,0,0,0.05));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.05), rgba(0,0,0,0.55), rgba(0,0,0,0.05));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.05), rgba(0,0,0,0.55), rgba(0,0,0,0.05));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0.05), rgba(0,0,0,0.55), rgba(0,0,0,0.05));
}

hr.style-three {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

h2 {
  text-align: center;
}

p {
  font-size: 1.2em;
}

.weave input, textarea {
  box-shadow: $inset-chiseled;
  border: none;
  &:focus {
    box-shadow: $teal-glow;
  }
}
.ui-autocomplete {
  display:none !important;
}
/*
 .invisible {
 display: none;
}
.visible {
display: block;
}
*/

.ui-helper-hidden-accessible {
  display: none;
}

li.ui-menu-item {
  list-style: none;
  a {
    background: whitesmoke;
  }
}

.select-product {
  @extend .pane;
  .content {
    @extend .span8;
    margin: 0 auto;
  }
  background: $accent-teal;
  color: white;
  a {
    color: white;
  }
  margin: auto;
  h3 {
    text-align: center;
  }
  li.product {
    list-style: none;
    margin: 15px 15px;
    font-size: 1.5em;
  }
}

/*
 * Utils
 */
.circle-big {
  border-radius: 50%;
  width: 550px;
  height: 550px;
  background: $accent-blue;
  position: relative;
  top: -300px;
  z-index: -10;
}

.circle-small {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background: rgba($accent-teal, .24);
  position: relative;
  top: -122%;
}

/*
 * Banner
 */
.banner {
  height: 150px;
  background: $fabric;// image-url('fabric.png');// $light-white;
}
.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 1;
  position: relative;
  top: -184%;
  // width: 200px;
  // height: 100px;
  // background: image-url('weave_logo.png')
}
/*
 *  Notifications
 */
.notifications {
  margin: auto;
  @extend .span8;
}

/*
 *  Instructions
 */

/*
 *  Referral
 */

.referral {
  width: 100%;
}

.pane {
  padding: 45px 0px;
}

/*
 *  Referral > Select Recipient
 */

.select-recipient {
  @extend .pane;
  text-align: center;
  width: 100%;
  background: $shadow-blue;
  .content {
    @extend .span8;
    margin: 0 auto;
  }
  .step-name {
    color: white;
    &:hover {text-decoration: none}
  }
  .step-subheader {
    color: white;
    font-weight: normal;
  }
  input.recipient-name-or-email {
    text-align: center;
  }
}
.select-recipient .friend-suggestions {
  margin: auto;
  width: 60%;
  text-align: left;
  background: lighten($light-gray, 5);
  padding: 3px;
  border-radius: 3px;
}
.select-recipient .friend-suggestion {
  height: 50px;
  padding: 5px;
  background: $light-gray;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  .friend-name {
    color: $accent-gray;
    font-weight: bold;
  }
  img.friend-picture {
    display: inline;
    float: left;
  }
  .friend-location {
    color: darken($neutral-gray, 5);
  }
  div.friend-info {
    float: left;
    padding-left: 5px;
  }
  border-radius: 2px;
  padding: 3px;

  &:hover {
    background: $trans-teal;
    .friend-name {
      color: white;
    }
    .friend-location {
      color: darken(white, 5);
    }
    color: white;
  }

}

.edit-body .z-index-container {
  position: relative;
}
.edit-body {
  @extend .pane;

  background: $fabric;

  .content {
    @extend .span8;
    margin: 0 auto;
  }
  .content .body {
    @extend .well;
    margin-bottom: 0px;
  }

  .step-name {
    color: $accent-blue;
  }
  .step-subheader{
    font-weight: normal;
    color: $accent-blue;
  }
  textarea.referral-message {
    width: 90%;
    display: block;
    margin: auto;
    border: none;
    padding: 10px;
    box-shadow: $inset-chiseled;
    resize: none;
    background: $trans-white;
    overflow: hidden;
    vertical-align: top;
    min-height: 100px;
    &:focus {
      // border: none;
      box-shadow: $teal-glow;
    }
  }
}
.edit-body .deliver-button {
  $vertical-clip: 40px;
  display: block;
  border-radius: 0% 0% 125px 125px;

  height: 125px;
  width: 250px;

  margin-left: auto;
  margin-right: auto;
  margin-top: -1*$vertical-clip;

  position: absolute;
  left: 0px;
  right: 0px;
  clip: rect($vertical-clip, 250px, 250px, 0px);
  background: $accent-blue;

  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  padding-top: 10px;
  z-index: 0;
  span.deliver {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    bottom: 35%;
    font-family: "Univers 67 Condensed Bold";
  }
  &:hover{
    background: $accent-teal;
  }
}

.customizations {
  width: 90%;
  margin: auto;
  padding: 7px 7px;
  background: lighten($light-gray, 5);
  label.customization{
    padding-left: 24px;
  }
  input.hidden-checkbox {
    display: none;
    position: absolute;
    left: -4000px;
    top: -4000px;
  }
  div.customization {
    padding: 5px;
    background: $light-gray;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    color: darken($neutral-gray, 5);
    position: relative;
  }
  div.customization.selected {
    background: $accent-teal;
    text-color: white;
    background-clip: padding-box;
    label {
      color: white;
    }
  }
  div.customization:hover {

    box-shadow: inset 0px 0px 2px $accent-teal;
    .customization-selection-circle-indicator {
      top: 10%;
      position: relative;
      width: 80%;
      height: 80%;
      margin: auto;
      background: $accent-teal;
      border-radius: 50%;
    }
  }
  span.customization-selection-indicator {
    pointer-events: none;
    background: rgba(white, 0.75);
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top: 25%;
    content: "X";
    border-radius: 15%;
    &.selected {
      background: white;

      .customization-selection-circle-indicator {
        top: 10%;
        position: relative;
        width: 80%;
        height: 80%;
        margin: auto;
        background: $accent-teal;
        border-radius: 50%;
      }
    }
  }
  div.customization.unselected {
  }
}

.referral-batch {
  padding: 1px;
  background: $fabric;
}
.referral-batch-show {
  @extend .pane;
  .content {
    @extend .span8;
    margin: auto;
  }
  background: $accent-blue;
  color: darken(white, 5);
  a {
    color: white;
  }

}

