.referral {
  @extend .span8;
  margin: auto;
}
.select-recipient {
  @extend .well;
  text-align: center;
}
.edit-body {
  @extend .well;
  text-align: center;

  .referral-message {
    width: 80%;
  }
  .customizations {
    text-align: center;
    margin: auto;
    display: inline;
    label {
      display: inline-block;
    }
    li {
      list-style: none;
    }
  }
}
