.select-product {
  @extend .well;
}

.referral-batch {
  @extend .span8;
  margin: auto;
}

.referral-batch-done {
  @extend .well;
}

.confirm-sender {
  a.btn {
    position: relative;
    top: -5px;
  }
}

.edit-body {
  @extend .well;
  text-align: center;

  .referral-message {
    width: 80%;
  }
  .customizations {
    text-align: center;
    margin: auto;
    display: inline;
    label {
      display: inline-block;
    }
    li {
      list-style: none;
    }
  }
}
